<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/rutas/add" method="POST">
                        <div class="form-group">
                            <label for="vehiculo">Vehiculo</label>
                            <select name="vehiculo" class="form-control">
                                {{#each vehiculo}}
                                <option value="{{id}}">{{placas}}</option>
                                {{/each}}
                            </select>
                        </div>
                         <div class="form-group">
                            <label for="origen">Origen</label>
                            <select name="origen" class="form-control" id="origen">
                                {{#each estaciones}}

                                <option value="{{id}}">{{estado}}</option>
                                
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="destino">Destino</label>
                            <select name="destino" class="form-control" id="destino">
                                {{#each estaciones}}
                                <option value="{{id}}">{{estado}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="capacidad">Capacidad</label>
                            <input name="capacidad"  type="number" class="form-control" id="capacidad">
                        </div>
                        <div class="form-group">
                            <label for="hora">Hora</label>
                            <input name="hora"  type="text" class="form-control" id="hora">
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio</label>
                            <input name="precio"  type="number" step=".1" class="form-control" id="precio">
                        </div>
                        <div class="form-check">
                            <input name="activo" class="form-check-input" type="checkbox" value="1" id="activo" checked>
                            <label class="form-check-label" for="activo">
                                Activo
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>