<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/rutas/add" method="POST">
                        <div class="form-group">
                            <label for="vehiculo">Vehiculo</label>
                            <input name="vehiculo"  type="text" class="form-control" id="vehiculo">
                        </div>
                        <div class="form-group">
                            <label for="destino">Destino</label>
                            <input name="destino"  type="text" class="form-control" id="destino">
                        </div>
                        <div class="form-group">
                            <label for="origen">Origen</label>
                            <input name="origen"  type="text" class="form-control" id="origen">
                        </div>
                        <div class="form-group">
                            <label for="activo">Activo</label>
                            <input name="activo"  type="text" class="form-control" id="activo">
                        </div>
                        <div class="form-group">
                            <label for="capacidad">Capacidad</label>
                            <input name="capacidad"  type="text" class="form-control" id="capacidad">
                        </div>
                        <div class="form-group">
                            <label for="hora">Hora</label>
                            <input name="hora"  type="text" class="form-control" id="hora">
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio</label>
                            <input name="precio"  type="text" class="form-control" id="precio">
                        </div>
                        
                        <div class="form-group">
                            <label for="origen">Origen</label>
                            <select name="origen" class="form-control">
                                {{#each estaciones}}

                                <option value="{{id}}">{{estado}}</option>
                                {{else}}
                                <div class="col-md-4 mx-auto">
                                    <div class="card card-body text-center">
                                        <p>There are not Links saved yet.</p>
                                        <a href="/rutas/add">Create One!</a>
                                    </div>
                                </div>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="destino">Destino</label>
                            <select name="destino" class="form-control">
                                {{#each estaciones}}

                                <option value="{{id}}">{{estado}}</option>
                                {{else}}
                                <div class="col-md-4 mx-auto">
                                    <div class="card card-body text-center">
                                        <p>There are not Links saved yet.</p>
                                        <a href="/rutas/add">Create One!</a>
                                    </div>
                                </div>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>