<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/pasajeros/edit/{{pasajero.id}}" method="POST">
              <div class="form-group">
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre" value="{{pasajero.nombre}}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido" class="form-control" placeholder="Apellido" value="{{pasajero.apellido}}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="correo" class="form-control" placeholder="Correo" value="{{pasajero.correo}}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="clave" class="form-control" placeholder="Clave" value="{{pasajero.clave}}">
                        </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>