<div class="container p-4">
    <div class="row">
        {{#each pasajero}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">
                        {{nombre}}
                    </h3>
                    <p class="m-2">correo: {{correo}}</p>
                    <p class="text-muted">
                        {{!-- {{timeago created_at}} --}}
                    </p>
                    <a class="btn btn-danger" href="/rutas/delete/{{id}}">
                        Delete Link
                    </a>
                    <a class="btn btn-secondary" href="/rutas/edit/{{id}}">
                        Edit
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Aún no hay un pasajero registrado</p>
                <a href="/pasajeros/add">Create One!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>