<div class="container p-4">
    <div class="row">
        {{#each boleto}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{id}}
                        </h3>
                    <p class="m-2">Pasajero: <strong>{{pasajero}}</strong></p>
                    <p class="m-2">ruta: {{ruta}}</p>
                    <p class="text-muted">
                        {{vehiculo}}
                    </p>
                    <p class="text-muted">
                        {{hora}}
                    </p>
                    {{!-- <a class="btn btn-danger" href="/boletos/delete/{{id}}">
                        Borrar
                    </a> --}}
                    {{!-- <a class="btn btn-secondary" href="/boletos/edit/{{id}}">
                        Editar
                    </a> --}}
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Aun no hay boletos</p>
                <a href="/boletos/add">Vender boleto</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>